/* Stylesheet for entire web page, please keep clean! */
.background { 
background-size: cover;
background-attachment: fixed;
background-position:  center;
height: 500px;
width: auto;
}

.overlay {
  position: fixed;
  width: 1800px;
  height: 1000px;
  border: 1px solid rgb(226, 189, 200, 0.7);
  background-color: rgb(226, 189, 200, 0.7);
  padding: 0px;
  margin: 35px;
}

#introductionKirby { 
  object-fit: contain;
  width: 50px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
  border: 2px black;
}

.container {
  flex-direction: column;
}

/* .column {
  float: right;
  width: 10.0%;
  margin-top: 40px;
  margin-right: 1%;
 
} */

/*margin-left: calc((100% - min(90%, 50.5rem))/2); margin-right: calc((100% - min(90%, 100.5rem)));  */
/* .row::after {
  content: "";
  clear: both;
  display: ;
} */

#helpfulKirby { 
  object-fit: contain;
  background: ;
  width: 300px;
  overflow: hidden;
  align-self: stretch;
  max-width: 100%;
  border: 2px black;
}

/* .row {
  float: right;
  width:20.0%;
  */


#heart { 
  object-fit: contain;
  width: 10px;
  /* overflow: hidden; */
  align-self: stretch;
  max-width: 50%;
  border: 2px black;
}


.studentProfile{
  position: fixed;
  top: 100px; left: 1000px; 
  width: 300px;
  height: 70px;
  background-color: #FDB9CD ;
  /* box-shadow: 0 2px 4px  */
}

.studentProfile p{
  font-size: 40px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 12px 
}


.title {
  position: fixed;
  top: 0px; left: 70px; 
  width: 600px;
  height: 50px;
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke: 3px #FFF967;
  color: #FF96D5;
  padding: 0px;
  margin: 35px 
}

.greetings {
  position: fixed;
  top: 200px; left: 70px; 
  width: 600px;
  height: 70px;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  box-shadow: 0 2px 4px 
}

.greetings p {
  font-size: 40px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 12px 
}

.fact {
  position: fixed;
  top: 350px; left: 900px; 
  width: 650px;
  height: 250px;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
}

.fact p {
  font-size: 40px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 12px 
}

.fact p1 {
  font-size: 35px;
  text-align: right; 
  color: #4b4549;
  padding: 7px;
  margin-top: 10px;
  margin: 17px 
}

.whatTopic {
  position: fixed;
  top: 300px; left: 70px; 
  width: 600px;
  height: 70px;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
}

.whatTopic p {
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px 
}

.topicsList {
  position: fixed;
  top: 380px; left: 120px; 
  width: 500px;
  height: 420px;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
}

.topicsCount {
 position: absolute;
 z-index: 1000;
 display: grid;
 top: 70px; left: 1100px; 
 background-color: #FDB9CD;
 border-radius: 40px 40px 40px 40px;
 grid-template-columns: 1fr 0.5fr;
 font-size: 30px;
 text-align: center; 
 color: #4b4549;
 width: 400px ;
 transform: translate(-50%, -50%) scale(0.5);
 visibility: hidden;
 transform: transform 0.4s, top 0.4s;
 
}

.topicsCount button {
 width: 100%;
 margin-top:10px;
 margin-left:100px;
 border:0;
 font-size: 25px;
 color: #4b4549;
 width: 200px ;
 height: 50px;
 cursor: pointer;
}
.topicsCount button {
  transition-duration: 0.4s;
}
.topicsCount button {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}
.open-popup{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
}

.instructions {
  position: absolute;
  z-index: 999;
  top: 600px; left: 1700px; 
  background-color: #FDB9CD;
  border-radius: 40px 40px 40px 40px;
  font-size: 35px;
  text-align: center; 
  color: #4b4549;
  width: 900px;
  height: 900px;
  transform: translate(-50%, -50%) scale(1);
  visibility: hidden;
  transform: transform 0.4s, top 0.4s;
}

.instructions button {
  width: 100%;
  margin-top:10px;
  margin-left:100px;
  border:0;
  font-size: 25px;
  background-color: white(226, 189, 200, 0.7);
  border: 3px solid #4b4549;
  color: #4b4549;
  width: 200px ;
  height: 50px;
  cursor: pointer;
 }

 .open-popup2{
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.5);
} 



.button1 {
  position: fixed;
  display: block;
  top: 400px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px; 
  cursor: pointer;
}

.button1 {
  transition-duration: 0.4s;
}
.button1:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button2 {
  position: fixed;
  display: block;
  top: 475px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer; 
}

.button2 {
  transition-duration: 0.4s;
}
.button2:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button3 {
  position: fixed;
  display: block;
  top: 550px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer; 
}

.button3 {
  transition-duration: 0.4s;
}
.button3:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button4 {
  position: fixed;
  display: block;
  top:625px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer; 
}

.button4 {
  transition-duration: 0.4s;
}
.button4:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button5 {
  position: fixed;
  display: block;
  top: 700px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer; 
}

.button5 {
  transition-duration: 0.4s;
}
.button5:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button6 {
  position: fixed;
  display: block;
  top: 820px; left: 150px; 
  width: 400px;
  height: 50px;
  border: black;
  border-radius: 40px 40px 40px 40px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer;  
}

.button6 {
  transition-duration: 0.4s;
}
.button6:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button7 {
  position: fixed;
  display: block;
  top: 175px; left: 980px; 
  width: 300px;
  height: 70px;
  border-color: #FDB9CD;
  border-radius: 30px 30px 30px 30px;
  background-color: #FDB9CD ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer;  
}

.button7 {
  transition-duration: 0.4s;
}
.button7:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.button8{
  top: 175px; left: 1000px;
  background-color: inherit;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); 
}

.button8 {
  transition-duration: 0.4s;
}
.button8:hover {
  background-color: inherit;
}

.button9 {
  position: fixed;
  display: block;
  top: 650px; left: 910px; 
  width: 550px;
  height: 150px;
  border-color: #FDB9CD;
  border-radius: 70px 70px 0px 70px;
  background-color: white ;
  font-size: 30px;
  text-align: center; 
  color: #4b4549;
  padding: 0px;
  margin: 18px;
  cursor: pointer;  
}

.button9 {
  transition-duration: 0.4s;
}
.button9:hover {
  background-color: rgb(226, 189, 200, 0.7);
  color: white;
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: end;
  }
  @media (max-width: 991px) {
    .container {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  #background {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  #upper-left-icons {
    position: relative;
    display: flex;
    width: 234px;
    max-width: 100%;
    flex-direction: column;
    align-items: end;
  }
  #game {
    position: relative;
    display: flex;
    width: 234px;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 12px solid rgba(255, 252, 191, 0.83);
    background-color: rgba(255, 166, 220, 0.71);
    border-radius: 40px;
    width: 968px;
    height: 500px;
    text-align: center;
    z-index: 10;
    max-width: 70%;
  }
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid rgba(255, 252, 191, 0.83);
  }
  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
  }
  .modal-body {
    padding: 10px 15px;
  }
  #multiple-choice-container {
    width: 80%;
    margin: auto;
  }
  #answer-list {
    min-height: 100px;
    border: 8px solid rgba(255, 252, 191, 0.83);
    margin-top: 20px;
    padding: 10px;
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
  }
  .multi-choice-answers {
    padding: 10px;
    margin: 5px;
    border: 5px solid rgba(255, 252, 191, 0.83);
    cursor: move;
    border-radius: 40px;
    color: #fff;
  }
  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
  }
  #overlay.active{
    pointer-events: all;
    opacity: 1;
  }
  #mute-btn-img {
    aspect-ratio: 1.36;
    object-fit: contain;
    object-position: center;
    width: 83px;
    overflow: hidden;
    max-width: 100%;
  }
  #bootleg-kirby {
    aspect-ratio: 1.25;
    object-fit: contain;
    object-position: center;
    width: 66px;
    overflow: hidden;
    align-self: start;
    margin-top: 19px;
    max-width: 100%;
    cursor: pointer;
  }
  #logic-puzzle {
    position: absolute;
    right: 54%;
    top: 1%;
    display: flex;
    width: 32.8%;
    max-width: 100%;
    flex-direction: column;
    align-items: start;
    border: 4px solid #FFF967;
    border-radius: 3%;
  }
  .grid-container {
    display: grid;
    width: 96%;
    height: 96%;
    grid-template-columns: 160px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 160px 70px 70px 70px 70px 70px 70px;
    background-color:rgba(255, 166, 220, 0.71);
    padding: 2%;
    border-radius: 3%;
  }
  .grid-item {
    background-color:rgba(255, 166, 220, 0.8);
    border: 4px solid #FFF967;
    padding: 2%;
    text-align: center;
  }
  .grid-header {
    background-color:rgba(255, 166, 220, 0.8);
    border: 4px solid #FFF967;
    padding: 2%;
    text-align: center;
  }
  .inactive-grid {
    border: none;
    background-color: transparent;
  }
  .depth {
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h1a {
    font-size: 200%;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h1b {
    font-size: 200%;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h1c {
    font-size: 200%;
    color: #FFFFFF;
    writing-mode: vertical-rl;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h2a {
    font-size: 200%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h2b {
    font-size: 200%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h2c {
    font-size: 200%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #h3a {
    font-size: 1.5rem;
    color: #FFFFFF;
    writing-mode: vertical-rl;
  }
  #h3b {
    font-size: 1.4rem;
    color: #FFFFFF;
    writing-mode: vertical-rl;
  }
  #h3c {
    font-size: 1.5rem;
    color: #FFFFFF;
    writing-mode: vertical-rl;
  }
  #h4a {
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  #h4b {
    font-size: 1.3rem;
    color: #FFFFFF;
  }
  #h4c {
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  #logic-puzzle.inactive{
    transform: scale(0)
  }
  #grass-patch {
    position: relative;
    align-self: stretch;
    display: flex;
    margin-top: 430px;
    align-items: end;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    #grass-patch {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
    }
  }
  #logic-question {
    color: #ff96d5;
    -webkit-text-stroke: 2px #fff967;
    margin-top: 300px;
    flex-grow: 1;
    flex-basis: auto;
    font: 600 40px Inter, sans-serif;
  }
  #logic-question.inactive{
    transform: scale(0)
  }
  @media (max-width: 991px) {
    #logic-question {
      font-size: 40px;
      margin-top: 40px;
    }
  }
  #sitting-kirby {
    aspect-ratio: 1.06;
    object-fit: contain;
    object-position: center;
    width: 186px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  #clues-box {
    position: relative;
    border-radius: 40px;
    border: 12px solid rgba(255, 252, 191, 0.83);
    background-color: rgba(255, 166, 220, 0.71);
    align-self: center;
    align-items: flex-start;
    display: flex;
    margin-top: 50px;
    width: 968px;
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 80px 25px 23px;
    max-width: 70%;
  }
  @media (max-width: 991px) {
    #clues-box {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  #clues-box.inactive{
    transform: scale(0)
  }
  #clue-box-title {
    color: #fff;
    font: 400 56px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    #clue-box-title {
      font-size: 40px;
    }
  }
  #clue-box-title.inactive{
    transform: scale(0)
  }
  #clue1 {
    color: #fff;
    margin-top: 27px;
    font: 400 35px Inter, sans-serif;
  }
  #clue2 {
    color: #fff;
    margin-top: 32px;
    font: 400 35px Inter, sans-serif;
  }
  #clue3 {
    color: #fff;
    margin-top: 29px;
    font: 400 35px Inter, sans-serif;
  }
  #clue4 {
    color: #fff;
    margin-top: 28px;
    font: 400 35px Inter, sans-serif;
  }
  #clue1.inactive{
    transform: scale(0)
  }
  #clue2.inactive{
    transform: scale(0)
  }
  #clue3.inactive{
    transform: scale(0)
  }
  #clue4.inactive{
    transform: scale(0)
  }